/*Body and HTML styling*/
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

/*Explorer styling*/
.file-explorer {
    display: flex;
    height: 100%;
}

/*Sidebar styling*/
.sidebar {
    width: 200px;
    background-color: #f0f0f0;
    padding: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}



.sidebar ul li {
    padding-left: 30px; 
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 18px 18px; 
    cursor: pointer;
    list-style-type: none;
    margin-bottom: 20px;
}

.desktop {
    background-image: url('images/desktop.png');
}

.documents {
    background-image: url('images/documents.png');
}

.downloads {
    background-image: url('images/downloads.png');
}

.pictures {
    background-image: url('images/images.png');
}
.thispc {
    background-image: url('images/thispc.png');
}
.network {
    background-image: url('images/network.png');
}



.sidebar ul li:hover {
    background-color: #ddd;
}

/*Main content styling*/
#iframeResize {
    width: 100%;
    height: 100vh; 
    border: none;
}

.main-content {
    position: relative; 
    flex-grow: 1;
    padding: 20px; 
    overflow-y: auto; 
}

.iframeResize {
    width: 100%; 
    height: 100%;
    position: absolute; 
    top: 0;
    left: 0;
    border: none;
}